---
title: Welcome to Middleman
---
<h1>Flex Box</h1>


<div class="container">
  <div class="item">
  	<h2>ITEM1</h2>
  	<p>
  		Consectetur eaque cupiditate natus nam deleniti. Aliquid magni eveniet dolores dignissimos dolorum sit similique culpa, ullam reprehenderit voluptas voluptatum error voluptatibus deserunt accusamus autem porro iure et odit eum laboriosam. Magnam libero a nulla libero labore rem? Consectetur eveniet inventore consequuntur nemo voluptate nemo. Alias aut qui eveniet a incidunt.
  	</p>
  </div>
  <div class="item">
  	<h2>ITEM2</h2>
  	<p>
  		Elit consequuntur corporis amet explicabo ipsum qui atque iure facere? Doloremque quae doloremque mollitia reprehenderit voluptas deleniti. Dolor minus magnam praesentium eum iusto laboriosam optio doloremque cupiditate harum obcaecati, cum, minus voluptas? Inventore iure aperiam praesentium magni dolorum cum ipsam? Ut explicabo eligendi possimus nulla eligendi velit veritatis. Debitis fugit?
  	</p>
  </div>
  <div class="item">
  	<h2>ITEM3</h2>
  	<p>
  		Ipsum ratione sit odio sit blanditiis temporibus. Nostrum nulla autem quasi porro animi doloremque quasi cumque a, iste. Ea animi nam repudiandae placeat architecto adipisci non. Ducimus doloribus voluptates corrupti nesciunt tenetur laborum nulla. Nobis cum ipsa nam at saepe tempora accusantium ullam id alias voluptas. Vitae itaque blanditiis eligendi.
  	</p>
  </div>
  <div class="item new">
  	<h2>ITEM4</h2>
  	<p>
  		Sit maiores corporis eius culpa atque incidunt dicta ab excepturi. Consectetur voluptatum neque totam dicta nam eos fugit soluta, sunt illo soluta. Neque temporibus sint sunt et repellendus consectetur veritatis dolores repellat sit? Exercitationem illum earum accusamus quod placeat. Ab eaque adipisci itaque illo pariatur asperiores ut iusto temporibus necessitatibus?
  	</p>
  </div>
  <div class="item new">
  	<h2>ITEM5</h2>
  	<p>
  		Ipsum expedita eum fugiat inventore in. Esse porro earum ad similique architecto voluptatem fugiat. Tempore praesentium quia quasi impedit sapiente dolor. Incidunt harum dicta sequi reprehenderit eligendi. Iusto illo ut dignissimos labore iste exercitationem! Debitis ut eligendi asperiores similique unde. Cupiditate architecto adipisci vitae sed accusamus blanditiis error eum! Iusto.
  	</p>
  </div>
  <div class="item">
  	<h2>ITEM6</h2>
  	<p>
  		Sit dolor a quia adipisci voluptatem voluptatibus. Quidem dolorum ex quidem corrupti non unde quidem voluptatem, nisi eum obcaecati ad architecto corrupti vel. Numquam rerum nisi ratione dolorem ducimus alias. Doloribus dolor sunt culpa aspernatur cumque ipsam et atque. Culpa quisquam obcaecati saepe adipisci consequuntur alias nemo perferendis provident odit!
  	</p>
  </div>
</div>


<div class="wrapper">
  <h1>align-self: center;</h1>
  <div class="check-box">
    <div class="checkbox-left">
      <input id="" type="checkbox" name="">
    </div>
    <div class="checkbox-right">
    	<h2>CheckBox</h2>
    	<p>
    		Sit deleniti iste impedit ab minima! Nemo aut temporibus doloribus eligendi totam hic quisquam! Alias vero architecto tempore rem architecto? Earum possimus minima dignissimos corrupti qui. Recusandae quam non explicabo enim accusamus aliquid voluptates dolorum soluta! Commodi soluta sint sed laborum suscipit et. Enim mollitia autem omnis reprehenderit voluptate tempora?
    	</p>
    </div>
  </div>
  <div class="check-box">
    <div class="checkbox-left">
      <input id="" type="checkbox" name="">
    </div>
    <div class="checkbox-right">
      <h2>CheckBox2</h2>
      <p>
      	Lorem natus quis tempore amet quasi. Voluptatum pariatur hic exercitationem deleniti corrupti? Corrupti accusamus perferendis ea molestias nemo magni molestiae rerum. Dicta temporibus vero dolor sed error, ab ullam natus amet, cupiditate excepturi corporis maxime ducimus explicabo fuga. Officiis ea commodi impedit voluptatum unde est autem voluptate earum quisquam rem autem ut doloremque veritatis iste nemo. Tempore molestiae eos optio dolores sapiente a adipisci, sed! Quas accusantium repellat laborum cupiditate.
      </p>
      
    </div>
  </div>
</div>
